body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --size-small: 640;
  --size-medium: 1007;
  --sign-column-size: 1rem;
  --sign-row-size: 1rem;
  --sign-cell-margin-size: 0.2rem;
}

@media only screen and (max-width: 640px) {
  :root {
    --sign-column-size: 0.6rem;
    --sign-row-size: 0.6rem;
    --sign-cell-margin-size: 0.1rem;
  }
}

#sneaking {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
}

.sign-overlay {
  position: fixed;
  left: calc(1rem + 5px);
  top: calc(1rem + 2px);
  z-index: 100;
  width: calc(100vw - 2rem - 10px);
  height: calc(100vh - 2rem - 10px);
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--sign-columns), 1fr);
  grid-template-rows: repeat(var(--sign-rows), 1fr);
  width: calc((var(--sign-column-size) + var(--sign-cell-margin-size * 2)) * var(--sign-columns));
  height: calc((var(--sign-row-size) + var(--sign-cell-margin-size) * 2) * var(--sign-rows));
  box-sizing: border-box;
}

.filled-slot {
  grid-column: var(--slot-number);
  width: var(--sign-column-size);
  height: var(--sign-row-size);
  margin: var(--sign-cell-margin-size);
  background-color: black;
}

.empty-slot {
  grid-column: var(--slot-number);
  width: var(--sign-column-size);
  height: var(--sign-row-size);
  margin: var(--sign-cell-margin-size);
}